.cart-container {
  padding: 10px;
  background-color: #f0f0f0;
  position: relative;
  margin: 0 225px;
  margin-top: 30px;
  border-radius: 10px;
}
.column-names {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  background-color: black;
}
.column-name {
  flex: 1;
  text-align: center;
}
.cart-items {
  margin-top: 0px;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 0px solid #ddd;
  background-color: rgb(175, 236, 236);
}
.cart-item:first-child {
  border-top: 1px solid #ddd;
}
.cart-item:hover {
  background-color: #ebebeb;
}
.cart-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.cart-item-column {
  flex: 1;
  text-align: center;
}
.edit-icon,
.delete-icon {
  padding: 5px 10px;
  border: none;
  background-color: rgb(175, 236, 236);
  color: black;
  cursor: pointer;
}
.edit-icon:hover,
.delete-icon:hover {
  opacity: 0.8;
  background-color: #ebebeb;
}
.pay-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.pay-button {
  padding: 10px 40px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
}
.pay-button:hover {
  opacity: 0.8;
}
.header-gap {
  height: 30px;
}
