.containers {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 10px;
  padding: 20px;
  background-color: #777474;
  display: flex;
}

.gift-image {
  width: 100px;
}

.left-column {
  flex: 1;
  padding-right: 10px;
  margin-right: 20px;
}

.right-column {
  flex: 1;
  padding-left: 10px;
}

.inputField {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 450px;
}

.placeorder-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 75px;
}

.placeorder-button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

.alert-message {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.required-field {
  border: 5px solid #ba1111 !important;
}