.admin-form {
    flex: 1;
  }
  .admin-form form{
    padding-left: 20 px;
    margin-left: 50px;
  }
  
  .admin-form h2 {
    margin-bottom: 10px;
  }
  
  .admin-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .admin-form input,
  .admin-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .admin-form button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .admin-form button:hover {
    background-color:rgb(53, 122, 81);
  }
  