.gift-images {
  width: 100px;
  height: 50px;
  object-fit: contain;
  border-radius: 30px;
}
.giftsTable-wrapper {
  width: 60%;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.giftsTable-wrapper table {
  width: 100%;
  margin: 10px;
}
.giftsTable-wrapper table {
  border-spacing: 0;
}
.giftsTable-wrapper table thead tr {
  background-color: #fcc056;
}
.giftsTable-wrapper table tbody tr {
  background-color: #222e50;
  color: white;
}
.giftsTable-wrapper table thead th,
tbody td {
  text-align: left;
  width: 100px;
  padding: 10px;
  font-size: 18px;
}
.gifts-quantity span {
  font-size: larger;
  margin: 10px;
}
