body {
    background-color: #f2f2f2;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .editform {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .editform label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .editform input[type="text"],
  .editform textarea[type="text"]
   {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .editform h2{
    text-align: center;
  }
  .editform button {
    background-color: blue;;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .editform button:hover {
    background-color: rgb(53, 122, 81);;
  }
  
  .editform button:focus {
    outline: none;
  }
  
  